In [2]:
# Importacion de librerias

import pandas as pd

## Importando Competitions

In [7]:
# Posicionarse en un ruta donde sea se pueda leer el fichero comodamente
%cd C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesPartida

competitionsPartida = pd.read_csv("competitions.csv")
competitionsPartida.head()

C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesPartida

,competitionDescription,competitionId,competitionName,competitionTitle,competitionUrl,coverImageUrl,deadline,evaluationMetric,hostSegment,interviews,...,organizationUrl,repositories,rewardDisplay,rewardQuantity,rewardTypeName,solutions,thumbnailImageUrl,totalKernels,totalTeams,types
0,Can you improve lung cancer detection?,6004,NaN,Data Science Bowl 2017,/c/data-science-bowl-2017,NaN,2017-04-12T23:59:00Z,Multi-class logarithmic loss (logloss),featured,"[{'label': '2nd place winner', 'url': 'http://...",...,NaN,"[{'label': '1st place solution', 'url': 'https...","$1,000,000",1000000,USD,NaN,https://storage.googleapis.com/kaggle-competit...,0.0,1972.0,"['Image processing / Vision', 'Classification']"
1,Can you make buying life insurance easier?,4699,NaN,Prudential Life Insurance Assessment,/c/prudential-life-insurance-assessment,NaN,2016-02-15T23:59:00Z,NaN,featured,"[{'label': '2nd place winner', 'url': 'http://...",...,NaN,NaN,"$30,000",30000,USD,NaN,https://storage.googleapis.com/kaggle-competit...,371.0,2619.0,NaN
2,Is your model smarter than an 8th grader?,4571,NaN,The Allen AI Science Challenge,/c/the-allen-ai-science-challenge,NaN,2016-02-13T23:59:00Z,NaN,featured,"[{'label': '3rd place winner', 'url': 'http://...",...,allenai,"[{'label': '8th place solution', 'url': 'https...","$80,000",80000,USD,NaN,https://storage.googleapis.com/kaggle-competit...,0.0,170.0,NaN
3,Which customers will purchase a quoted insuran...,4657,NaN,Homesite Quote Conversion,/c/homesite-quote-conversion,NaN,2016-02-08T23:59:00Z,NaN,featured,"[{'label': '1st place winner', 'url': 'http://...",...,NaN,NaN,"$20,000",20000,USD,NaN,https://storage.googleapis.com/kaggle-competit...,258.0,1764.0,NaN
4,Help prevent cervical cancer by identifying at...,4494,NaN,Cervical Cancer Screening,/c/cervical-cancer-screening,NaN,2016-02-01T23:59:00Z,NaN,featured,"[{'label': '1st place winner', 'url': 'http://...",...,NaN,NaN,"$100,000",100000,USD,NaN,https://storage.googleapis.com/kaggle-competit...,13.0,40.0,NaN

#### Filtrado por las columnas:

In [9]:
competitionsPartida = competitionsPartida[["competitionId",
                                          "competitionTitle",
                                          "deadline",
                                          "evaluationMetric",
                                          "hostSegment",
                                           "rewardQuantity",
                                           "totalKernels",
                                           "totalTeams"
                                          ]]

¿De cuantas competiciones tenemos datos en este DF?

In [29]:
len(competitionsPartida.competitionId.unique())

149

## Importanto Teams

In [10]:
# Posicionarse en un ruta donde sea se pueda leer el fichero comodamente
%cd C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesPartida

teamsPartida = pd.read_csv("teams.csv")
teamsPartida.head()

C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesPartida

,change,competitionId,entries,lastSubmission,medal,rank,score,sourceKernelName,sourceKernelUrl,teamId,teamMembers,teamName,realTeam
0,136.0,6004,2,2017-04-12T15:29:06.7133333Z,gold,1.0,0.39975,NaN,NaN,583169,"[{'profileUrl': '/badrobot', 'thumbnailUrl': '...",grt123,"['/badrobot', '/grt123', '/liaofz']"
1,87.0,6004,2,2017-04-10T15:50:10.5066667Z,gold,2.0,0.40117,NaN,NaN,517341,"[{'profileUrl': '/dhammack', 'thumbnailUrl': '...",Julian de Wit & Daniel Hammack,"['/dhammack', '/juliandewit']"
2,23.0,6004,2,2017-04-11T14:59:55.6166667Z,gold,3.0,0.40127,NaN,NaN,549155,"[{'profileUrl': '/timsalimans', 'thumbnailUrl'...",Aidence,"['/gerbenvv', '/markjan', '/timsalimans']"
3,157.0,6004,3,2017-04-09T08:32:27.7366667Z,gold,4.0,0.40183,NaN,NaN,451405,"[{'profileUrl': '/jdingpku', 'thumbnailUrl': '...",qfpxfd,"['/jdingpku', '/jiabao', '/jiayuangu', '/lax12..."
4,349.0,6004,8,2017-04-12T13:59:14.57Z,gold,5.0,0.40409,NaN,NaN,447696,"[{'profileUrl': '/pfillard', 'thumbnailUrl': '...",Pierre Fillard (Therapixel),['/pfillard']

#### Filtrando por las columnas

In [18]:
teamsPartida = teamsPartida[["change",
                              "competitionId",
                              "entries",
                              "lastSubmission",
                               "rank",
                               "score",
                               "teamMembers",
                               "teamName"
                              ]]

¿De cuantas competiciones tenemos datos en este DF?

In [28]:
len(teamsPartida.competitionId.unique())

147

Cuando se haga el Join de estos dos dataFrames se va a perder 2 competitiones. 
¿Cuales son?

In [31]:
List_CompetitionsPartida_idcompetition = list(competitionsPartida.competitionId)
List_teamsPartida_idcompetition = list(teamsPartida.competitionId)

Two_Idcompetitions = list(set(List_CompetitionsPartida_idcompetition ) - set(List_teamsPartida_idcompetition))
Two_Idcompetitions

[3321, 2438]

In [34]:
Two_Competitions = competitionsPartida[(competitionsPartida.competitionId == 3321) |
                            (competitionsPartida.competitionId == 2438)]
Two_Competitions

,competitionId,competitionTitle,deadline,evaluationMetric,hostSegment,rewardQuantity,totalKernels,totalTeams
72,3321,Getting Started,2012-02-26T00:00:00Z,NaN,featured,10000,0.0,0.0
95,2438,World Cup 2010 - Take on the Quants,2010-06-11T13:29:00Z,NaN,featured,100,0.0,0.0

## Creando datos de Partida

In [19]:
df_datosPartida = pd.merge(competitionsPartida, teamsPartida, how = "inner", on = "competitionId")
df_datosPartida.head()

,competitionId,competitionTitle,deadline,evaluationMetric,hostSegment,rewardQuantity,totalKernels,totalTeams,change,entries,lastSubmission,rank,score,teamMembers,teamName
0,6004,Data Science Bowl 2017,2017-04-12T23:59:00Z,Multi-class logarithmic loss (logloss),featured,1000000,0.0,1972.0,136.0,2,2017-04-12T15:29:06.7133333Z,1.0,0.39975,"[{'profileUrl': '/badrobot', 'thumbnailUrl': '...",grt123
1,6004,Data Science Bowl 2017,2017-04-12T23:59:00Z,Multi-class logarithmic loss (logloss),featured,1000000,0.0,1972.0,87.0,2,2017-04-10T15:50:10.5066667Z,2.0,0.40117,"[{'profileUrl': '/dhammack', 'thumbnailUrl': '...",Julian de Wit & Daniel Hammack
2,6004,Data Science Bowl 2017,2017-04-12T23:59:00Z,Multi-class logarithmic loss (logloss),featured,1000000,0.0,1972.0,23.0,2,2017-04-11T14:59:55.6166667Z,3.0,0.40127,"[{'profileUrl': '/timsalimans', 'thumbnailUrl'...",Aidence
3,6004,Data Science Bowl 2017,2017-04-12T23:59:00Z,Multi-class logarithmic loss (logloss),featured,1000000,0.0,1972.0,157.0,3,2017-04-09T08:32:27.7366667Z,4.0,0.40183,"[{'profileUrl': '/jdingpku', 'thumbnailUrl': '...",qfpxfd
4,6004,Data Science Bowl 2017,2017-04-12T23:59:00Z,Multi-class logarithmic loss (logloss),featured,1000000,0.0,1972.0,349.0,8,2017-04-12T13:59:14.57Z,5.0,0.40409,"[{'profileUrl': '/pfillard', 'thumbnailUrl': '...",Pierre Fillard (Therapixel)

In [35]:
len(df_datosPartida.competitionId.unique())

147

In [24]:
df_datosPartida.shape

(148336, 15)

In [21]:
df_datosPartida.dtypes

competitionId         int64
competitionTitle     object
deadline             object
evaluationMetric     object
hostSegment          object
rewardQuantity        int64
totalKernels        float64
totalTeams          float64
change              float64
entries               int64
lastSubmission       object
rank                float64
score               float64
teamMembers          object
teamName             object
dtype: object

In [22]:
print("Are There Missing Data? :",df_datosPartida.isnull().any().any())     
print(df_datosPartida.isnull().sum())

Are There Missing Data? : True
competitionId           0
competitionTitle        0
deadline                0
evaluationMetric    68715
hostSegment             0
rewardQuantity          0
totalKernels        47833
totalTeams          47833
change                319
entries                 0
lastSubmission        276
rank                  250
score                   0
teamMembers             0
teamName               18
dtype: int64

Los missingValues se podrian eliminar y no contar con ellos pero eso se decide cuanto se vaya hacer un estudio y se vea que son relevantes o no.

In [38]:
%cd C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesReady\datosPartidaReady
df_datosPartida.to_csv("datosPartidaReady.csv")

C:\Users\Usuario\Desktop\Kaggle\Data\dataFramesReady\datosPartidaReady